BasedOnStyle: LLVM
# AllowShortIfStatementsOnASingleLine: false
# AllowShortBlocksOnASingleLine: false
BreakBeforeBraces: Allman
IndentCaseLabels: false
IndentWidth: 4
SortIncludes: false
UseTab: Never
